<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="m-3"><span class="bg-light">商品一覧</span></h4>
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus-circle fa-pull-right fa-2x" style="color: gray;"></i>
      <% end %>
        <table cellpadding="5" style="width:100%" class="border-top border-dark">
          <tr class="table-secondary">
            <th style="width:10%">商品ID</th>
            <th style="width:30%">商品名</th>
            <th style="width:10%">税抜価格</th>
            <th style="width:30%">ジャンル</th>
            <th style="width:20%">ステータス</th>
          </tr>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active %>
                  <span class="text-success font-weight-bold">販売中</span>
                <% elsif %>
                  <span class="text-secondary font-weight-bold">販売停止中</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <%= paginate @items %>
    </div>
  </div>
</div>
