<h4 class="m-3"><span class="bg-light">商品詳細</span></h4>
<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @item.image, class:"img-fluid" %>
    </div>
    <div class="col-7 offset-md-1">
      <table cellpadding="5">
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格<br>(税抜価格)</th>
          <td><%= @item.price.to_s(:delimited) %>（<%= number_with_precision(@item.price*1.1, delimiter: ",", precision: 3,strip_insignificant_zeros: true) %>）円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td>
            <% if @item.is_active %>
              <span class="text-success font-weight-bold">販売中</span>
            <% elsif %>
              <span class="text-secondary font-weight-bold">販売停止中</span>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="text-center">
        <%= link_to '編集する', edit_admin_item_path(@item.id), class:"btn btn-success px-4 mt-3" %>
      </div>
    </div>
  </div>
</div>