<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="m-3"><span class="bg-light">管理者ログイン</span></h4>

      <%= form_with model: @admin, url: admin_session_path do |f| %>
      <table cellpadding="5" class="w-75 mx-auto">
        <tr>
          <td><%= f.label :'メールアドレス' %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40, placeholder: "sample@example.com" %></td>
        </tr>
        <tr>
          <td ><%= f.label :'パスワード' %></td>
          <td><%= f.password_field :password, autocomplete: "current-password", size: 40 %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class:"btn btn-primary px-4 mt-3" %></td>
        </tr>
      </table>

      <% end %>

    </div>
  </div>
  <%= render "admin/shared/links" %>
</div>