<div class="container">
  <div class="row">

    <%= render 'public/items/genre', genres: @genres %>

    <div class="col-10">
      <div class="top-image"><!--application.scssにてbackground-imageを指定-->
        <div class="top-message m-auto">
          <p>ようこそ、ながのCAKEへ！</p>
          <p>このサイトは、ケーキ販売のECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
        </div>
      </div>
      <div class="new-items">
        <h3>新着商品</h3>
        <div class="card-group"> <!--application.scssにてflex-wrap:wrap;を適用-->
          <% @items.each do |item| %>
            <div class="col-3">
              <div class="card h-100"> <!--application.scssにてmargin-bottom:20px;を適用-->
                <%= link_to item_path(item.id) do %>
                  <div class="card-image">
                    <%= image_tag item.image, height:'130px', width:'100%' %>
                  </div>
                  <div class="card-body">
                    <h6 class="card-title"><%= item.name %></h6>
                    ¥<%= number_with_precision(item.price, delimiter: ",", precision: 3,strip_insignificant_zeros: true) %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
