<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="border-bottom border-dark">
        <h4 class="m-3"><span class="bg-light">注文履歴一覧</span></h4>
      </div>
      <% @orders.each do |order| %>
        <table style="width:100%">
          <tr class="table-secondary">
            <th style="width:30%">購入日時</th>
            <th style="width:20%">購入者</th>
            <th style="width:20%">注文個数</th>
            <th style="width:30%">注文ステータス</th>
          </tr>
          <tr class="border-top">
            <td>
              <%= link_to admin_order_path(order.id) do %>
                <%= order.created_at.strftime('%Y/%m/%d %T') %>
              <% end %>  
            </td>
            <!--<td><%= order.customer.name %></td>-->
            <!--<td><%= order.order_detail %></td>-->
            <td>
            </td>
          </tr>
        </table>
      <% end %>
      <%= paginate @orders %>
    </div>
  </div>
</div>
