<div class="container">
  <div class="row">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="col-12 mx-auto">
      <h4 class="m-3"><span class="bg-light">ログイン</span></h4>
      <div class="sign_in ml-5">
        <h5 class="m-3"><span class="bg-light">会員の方はこちらからログイン</span></h4>
        <%= form_with model: @customer, url: customer_session_path do |f| %>
          <table cellpadding="5" class="ml-5">
            <tr>
              <th>メールアドレス</th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size:40 %></td>
            </tr>
            <tr>
              <th>パスワード</th>
              <td><%= f.password_field :encrypted_password, size:40 %></td>
            </tr>
            <tr>
              <th></th>
              <td><%= f.submit 'ログイン', class:"btn btn-primary px-4 mt-3" %></td>
            </tr>
          </table>
        <% end %>
      </div>
      <div class="sign_up_link ml-5">
        <h5 class="m-3"><span class="bg-light">会員登録がお済みでない方</span></h4>
        <p class="ml-5"><%= link_to 'こちら', new_customer_registration_path %>  から新規登録を行なってください。</p>
      </div>
    </div>
  </div>
</div>