<div class="container">
  <div class="row">
    
    <!--ジャンル検索のrender-->
    <div class="col-2"></div>
    
    <h3><%= @genre.name %>一覧<span class="h5">（全<%= @genre.item.count %>件）</span></h3>
    <% @items.each do |item| %>
      <div class="card w-25">
        <%= image_tag item.image, class:"img-fluid" %>
        <%= item.name %>
        <%= item.price %>
      </div>
    <% end %>
    </div>
  </div>
</div>