<div class="container">
  <div class="row">

    <%= render 'public/items/genre', genres: @genres %>

    <div class="col-10">
      <% if params[:genre_id].present? %>
        <h3><%= Genre.find(params[:genre_id]).name %>一覧<span class="h5">（全<%= @items.count %>件）</span></h3>
      <% else %>
        <h3>検索結果一覧<span class="h5">（全<%= @items.count %>件）</span></h3>
      <% end %>
      <div class="card-group"> <!--application.scssにてflex-wrap:wrap;を適用-->
        <% @items.each do |item| %>
          <div class="col-3">
            <div class="card h-100"> <!--application.scssにてmargin-bottom:20px;を適用-->
            <%= link_to item_path(item.id) do %>
              <div class="card-image">
                <%= image_tag item.image, height:'130px', width:'100%' %>
              </div>
              <div class="card-body">
                <h6 class="card-title"><%= item.name %></h6>
                ¥<%= number_with_precision(item.with_tax_price, delimiter: ",", precision: 3,strip_insignificant_zeros: true) %>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>