<div class="container">
  <div class="row">
    
    <!--ジャンル検索のrender-->
    <div class="col-2"></div>
    
    <div class="col-4">
      <%= image_tag @item.image, class:"img-fluid" %>
    </div>
    <div class="col-6">
      <h3 class="mb-3"><%= @item.name %></h3>
      <h5><%= @item.introduction %></h5>
      <h3 class="my-5">¥<%= number_with_precision(@item.price*1.1, delimiter: ",", precision: 3,strip_insignificant_zeros: true) %><span class="h6">（税込）</span></h3>
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        <span class="h5"><%= f.select :amount, [*1..10], include_blank: '個数選択' %></span>
        <%= f.submit 'カートに入れる', class:"btn btn-success px-4 ml-5" %>
      <% end %>
    </div>
  </div>
</div>